/*Screen Filler emulation*/
body {
  background-color: #e5f2ff;
}

h1 {
  background-color: #EA2E49;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  padding: 15px;
  display: inline-block;
}
